* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container-fluid {
    background: linear-gradient(to bottom left, #D0ECE7 0%, #117A65 100%);
}
/* -----------------------------Logotipo----------------------------- */
.header {
    text-align: center;
}
/* .rounded-circle {
    height: 250px;
    width: 250px;
} */

/* -----------------------------Indice----------------------------- */


/* -----------------------------PRESENTACION----------------------------- */



.Foto1 {
    object-fit: cover;
    width: 100%;
    height: 100%; 
}

/* .row {
    padding: 20px;}
    /* Tengo que revisar en el que me mand'o el ayuidante el flex para aplicar aqui asi la imagen no se va achicando si no que queda como bloque abajo */

/* .col-4 {
    padding: 2px;
}  */

/* .col-6,.col-4 {
    display: flex;
    flex-direction: wrap;
} */
.Presentacion {
    background-color: #e9ecef;
   /*  padding: 35px;
    margin: 15px;
    width: 45%; */
    /* padding-left: 35px; */
  /*   text-align: justify; */
    color: #707070;
    /* border-radius: 3px; */
    display: block;
}
.Herramientas {
        background-color: #e9ecef;;
   
    }

/* -----------------------------Cards----------------------------- */

/* .producto {
    align-items: center;
    justify-content: center;
} */

/* -----------------------------Pagina productos----------------------------- */

/* -----------------------------CARRITOS----------------------------- */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
/* -----------------------------@media----------------------------- */
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh;
    }
    }
/* @media screen and (max-width: 768px) {
      
    .card{
        
        display: block; 
        text-align:center;
        flex-direction: column;
    } 
    
}  */

    